<% form_for :session, :url => sessions_path do |f| %>
  <ul class="data">
    <li>
      <p>
        This website allows employees of <strong>Pivotal Labs</strong> to enter their hours using
        webkit-based smartphones. Your username and password are <em>not stored</em>. When you authenticate,
        a session is established with Tracker passing through your credentials, and Tracker's session data
        is stored in a cookie (using a gem
        <a href="http://github.com/dsboulder/mechanized_session">mechanized_session</a>,
        and some rails glue <a href="http://github.com/dsboulder/acts_as_other_website">acts_as_other_website</a>).
      </p>
    </li>
  </ul>

  <ul class="form">
    <li>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </li>
    <li>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </li>
    <li><%= f.submit "Login" %></li>
  </ul>
<% end %>