<div id="header">
  <h1><%= local_assigns[:title].html_safe %></h1>
  <% if local_assigns[:action] %>
    <%= link_to action.first, action.last, :class => "nav Action" %>
  <% end %>
  <% if local_assigns[:back] %>
    <%= link_to back.first, back.last, :class => "nav", :id => "backButton" %>
  <% end %>
</div>
<p><%= flash[:notice] %></p>
<p style="color: #8b0000;"><%= flash[:error] %></p>
