<%= render :partial => "/shared/header", :locals => {:title => "Time Shift", :back => ["Back", root_path]} %>
<ul class="field">
  <li>
    <h3>Date</h3>
    <a><%= @hour.date.strftime("%a %m/%d/%y") %></a>
  </li>
  <li>
    <h3>Project</h3>
    <a><%= h @hour.project_name %></a>
  </li>
  <li>
    <h3>Time</h3>
    <a><%= pluralize(@hour.hours_worked, "hour") %></a>
  </li>
  <li>
    <h3>Description</h3>
    <big>
      <%= h @hour.description %>
    </big>
  </li>
</ul>

<ul>
  <li class="arrow"><%= link_to "Delete Entry", time_shift_path(@hour), :method =>:delete, :confirm => "Are you sure?" %></li>
</ul>
